.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-avatar-profile {
    object-fit: cover;
    margin-bottom: 20px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.5rem;
    height: 10.5rem;
    color: white;
}

.user-avatar{
    width: 100%;
    height: 100%;
    border-radius: 20%;
    object-fit: cover;
}

.profile-info{
    width: 100%;
    text-align: left;
}

.profile-title{
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}

.profile-action{
    margin-bottom: 20px;
}

.edit-profile-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: solid 1px;
    border-color: gray;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.edit-profile-button:hover {
    background-color: var(--primary-hover);
    color: white;
}